[color]
	ui = auto
[user]
	email = "{{ .email }}"
	name = "{{ .name }}"

{{- if eq .email "Cedric_Hombourger@mentor.com" }}
[sendemail]
        smtpEncryption = tls
        smtpServer = email-eu.mentorg.com
        smtpUser = MGC\\chombour
        smtpServerPort = 587

[url "git@github.com:MentorEmbedded/"]
        insteadOf = https://github.com/MentorEmbedded/
{{- end }}
