Host *
	ServerAliveInterval 3

{{- if eq .email "cedric.hombourger@siemens.com" }}

Host india1
	HostName 134.86.61.7
	User chombourger

Host node1
	HostName 134.86.61.16
	User bhima

Host node4
	HostName 134.86.61.8
	User chombourger

Host kabini
	HostName 134.86.61.10
	User kabini

Host narmada
	HostName 134.86.61.14
	User chombourger

Host koshi
	HostName 134.86.61.15
	User chombourger

Host sutlej
	HostName 134.86.61.24
	User sutlej

{{- end }}
