Host *
	ServerAliveInterval 3

Host build
	HostName 192.168.1.102
	User chombourger

{{- if eq .email "Cedric_Hombourger@mentor.com" }}

Host stash.alm.mentorg.com
	HostName stash.alm.mentorg.com
	User git
	ProxyCommand /usr/bin/env nc -x 192.168.1.100:1080 %h %p

Host industrial.alm.mentorg.com
	HostName industrial.alm.mentorg.com
	User chombour
	ProxyCommand /usr/bin/env nc -x 192.168.1.100:1080 %h %p

Host india1
	HostName 134.86.61.7
	User chombourger
	ProxyCommand /usr/bin/env nc -x 192.168.1.100:1080 %h %p

Host india4
	HostName 134.86.61.10
	User chombourger
	ProxyCommand /usr/bin/env nc -x 192.168.1.100:1080 %h %p

Host node4
	HostName 134.86.61.8
	User chombourger
	ProxyCommand /usr/bin/env nc -x 192.168.1.100:1080 %h %p

Host node5
	HostName 134.86.61.14
	User narmada
	ProxyCommand /usr/bin/env nc -x 192.168.1.100:1080 %h %p

Host koshi
	HostName 134.86.61.15
	User chombourger
	ProxyCommand /usr/bin/env nc -x 192.168.1.100:1080 %h %p

{{- end }}
